In [1]:
pwd

'C:\\Users\\farat'

In [21]:
import pandas as pd
import numpy as np

# Create a Series in Pandas

In [ ]:
obj = pd.Series([4, 7, -5, 3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

# Array representation of the Series via Values

In [6]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

# Array representation of the Series via Index attributes

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

# Customized index

In [9]:
obj2 = pd.Series([4, 7, -5, 3], index =['d', 'b', 'a', 'c'])

In [10]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

# Label Index

In [13]:
obj2['a']

-5

In [15]:
obj2['d']

4

# by getting more then 1 label indexes array notation will be used

In [17]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

# Maths Functions

In [23]:
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

In [19]:
obj2*2

d     8
b    14
a   -10
c     6
dtype: int64

In [22]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

# Method to check an index exists in the Series or not

In [27]:
'b' in obj2

True

In [26]:
'e'in obj2

False

# Creating Pandas Series by dictionary

In [37]:
sdata = {'Ohio':35000, 'Texas': 71000, 'Oregon':16000, 'Utah':5000}

In [34]:
obj3 = pd.Series(sdata)

In [35]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

# Changing index order in Pandas Series while extracting data from the dictionary

In [36]:
sdata = {'Ohio':35000, 'Texas': 71000, 'Oregon':16000, 'Utah':5000}

In [38]:
tax_by_state = pd.Series(sdata, index = ['Texas', 'Ohio', 'Oregon', 'Utah'])

In [39]:
print(tax_by_state)

Texas     71000
Ohio      35000
Oregon    16000
Utah       5000
dtype: int64

# Adding an empty value in index

In [40]:
tax_by_state = pd.Series(sdata, index =['Ohio', 'Texas', 'Oregon', 'Utah', 'California'])

In [41]:
print(tax_by_state)

Ohio          35000.0
Texas         71000.0
Oregon        16000.0
Utah           5000.0
California        NaN
dtype: float64

# To check whether it's True that Nan value is present

In [42]:
print(pd.isnull(tax_by_state))

Ohio          False
Texas         False
Oregon        False
Utah          False
California     True
dtype: bool

# To check whether it's False that Nan value is present

In [44]:
print(pd.notnull(tax_by_state))

Ohio           True
Texas          True
Oregon         True
Utah           True
California    False
dtype: bool